<!DOCTYPE html>
<html>
<head>
  <title>SwdGraphPath</title>
  <script src="//maps.googleapis.com/maps/api/js?v=3&libraries=places,geometry&sensor=true&language=pl"></script>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <%= yield %>
        <%= render "home/footer" %>
    </nav>
    <!-- Header -->
    <header id="top" class="header">
        <div id="map-canvas"></div>
    </header>

</body>

</html>
