<!DOCTYPE html>
<html>
<head>
  <title>SwdGraphPath</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= render "home/footer" %>
</body>
</html>
